In [3]:
import pandas as pd
dataset = pd.read_csv("/home/aaditya/Ml/Machine Learning A-Z/Part 6 - Reinforcement Learning/Section 33 - Thompson Sampling/Ads_CTR_Optimisation.csv")
dataset.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [8]:
import random
N = 10000
d = 10
ads_selected = []
Number_of_rewards_1 = [0]*d
Number_of_rewards_0 = [0]*d
total_reward = 0
for n in range(0,N):
    ad = 0
    Max_random = 0
    for i in range(0,d):
        random_beta = random.betavariate(Number_of_rewards_1[i] + 1 , Number_of_rewards_0[i] + 1)
        if random_beta > Max_random:
            Max_random = random_beta
            ad = i
    ads_selected.append(ad)
    reward = dataset.values[n, ad]
    if reward == 1:
        Number_of_rewards_1[ad] = Number_of_rewards_1[ad] +1
    else:
        Number_of_rewards_0[ad] = Number_of_rewards_0[ad] +1
    total_reward = total_reward + reward

In [ ]:
import matplotlib.pyplot as plt
plt.hist(ads_selected)
plt.show()