In [1]:
import pandas as pd

In [2]:
a = pd.Series([2,4,6,8], index=["Two","Four","Six", "Eight"])
a

Two      2
Four     4
Six      6
Eight    8
dtype: int64

In [50]:
# Writing a dataframe file in csv
data = {"Name":["Aaditya", "Arpita","Krishna"], "Class" :[12,11,10],
        "Hobbies":["Playing sports", "Classified", "Weeping"]}
df = pd.DataFrame(data, columns=["Name", "Class", "Hobbies"])
# df.to_csv("Panda_data.csv")

# Reading a csv file
# pd.read_csv("Panda_data.csv")

df.at[0,'Class'] = 6
df

      Name  Class         Hobbies
0  Aaditya      6  Playing sports
1   Arpita     11      Classified
2  Krishna     10         Weeping

In [19]:
b = pd.Series([2,4,6,8], index=["Two","Four","Six", "Eight"])

#b["Two"]
#df.iloc[[1],[1]]
#df.loc[[1],["Class"]]
#df.ix[1,"Hobbies"]

# Setting index of "Eight" to 9

b["Eight"] = 9
print(b)
df.shape
df.index
df.columns
df.info()
df.count()

Two      2
Four     4
Six      6
Eight    9
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Name       3 non-null object
Class      3 non-null int64
Hobbies    3 non-null object
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

Name       3
Class      3
Hobbies    3
dtype: int64

In [5]:
# df.shape
# df.index
# df.columns
# df.info()
# df.count()

# df.sum()
# df.cumsum()
# df.min()
# df.max()
# df.idxmin()
# df.idxmax()
# df.describe()
# df.mean()
# df.median()

In [6]:
data = {"Date":["01-07-2019", "02-07-2019", "03-07-2019"], "Type":['a','b','c'], "Value":[1,2,3]}
df2 = pd.DataFrame(data, columns=["Date", "Type", "Value"])
#df3= df2.pivot(index='Date', columns='Type', values='Value')
row = next(df2.iteritems())
print(row)

('Date', 0    01-07-2019
1    02-07-2019
2    03-07-2019
Name: Date, dtype: object)